.About {
    padding: 3%;
}

.About h1{
    color: #929292;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.About p{
    margin-left: 5%;
    font-size: 15px;
    color: #929292;
}

#icons {
    font-size: xx-large;
}